<% provide(:title, "About") %>
<h1>About</h1>
<p>
This is a orbital 2016 project by Team 1211 consisting of members Marx Low and Goh Yi Rui. Artpraiser is an online art gallery and marketplace web application.
</p>
