<div class="container-fluid">
    <div class="col-md-3">
    	<div class="w3-card-12 w3-indigo">
    		<div class="w3-container w3 center">
    			<p>Buy!</p>
    		</div>
    	</div>
    </div>
    <div class="col-md-3">
    	<div class="w3-card-12 w3-pink">
    		<div class="w3-container w3 center">
    			<p>Sell!</p>
    		</div>
    	</div>
    </div>
    <div class="col-md-3">
    	<div class="w3-card-12 w3-light-green">
    		<div class="w3-container w3 center">
    			<p>About!</p>
    		</div>
    	</div>
    </div>
    <div class="col-md-3">
    	<div class="w3-card-12 w3-yellow">
    		<div class="w3-container w3 center">
                 <p>Join us!</p>
    		</div>
    	</div>
    </div>
</div>