<div class="container-fluid">
	<div class= "row text-center">
			<div class="w3-xxxlarge"><font color="black">Featured artists</font></div>
			<p>Featured artists are chosen based on highest popularity of the week</p>
	</div>
		<br>
</div>
<div class="container-fluid">
	<div class="col-md-4">
		<div class="w3-card-12">
			<div class="w3-container w3 center">
				<p>Hey there!</p>
			</div>
		</div>
	</div>
		<div class="col-md-4">
		<div class="w3-card-12">
			<div class="w3-container w3 center">
				<p>Hey there!</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="w3-card-12">
			<div class="w3-container w3 center">
				<p>Hey there!</p>
			</div>
		</div>
	</div>
</div>