<div class="row">
  <div class="col-lg-6">
      <%= form_tag(microposts_path, :method => "get", id: "search-form-artworks") do %>
      	  <div class="input-group">
		  <%= text_field_tag :search, params[:search], placeholder: "Search Artworks",
							  class: "form-control" %>
	      <span class="input-group-btn">
		  <%= submit_tag "Search!", class: "btn btn-default" %>
	      </span>
          </div>
	   <% end %>
  </div>
</div>