<% provide(:title, 'All Artworks') %>
<h1>Browse Artworks</h1>

<%= render 'search_form' %>

<% if @microposts.empty? %>

	<p>There are no artworks described by: <%= params[:search] %></p>

<% else %>

	<ol class = "microposts">
		<%= render @microposts %>
	</ol>

<% end %>