@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	font-family: 'Montserrat', sans-serif;
	padding: 60px;
	color: #2f2f2f;
	a {
		text-decoration: none;
		&:hover {
			color:#1abc9c;
			text-decoration: none;
		}
	}
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.jumbotron {
	background-color: #fff;
	color: #2f2f2f;
}

.logo-small {
	color:#1abc9c;
	font-size: 60px;
}

.btn {
	background-color: #1abc9c;
	color: #fff;
	border-color: #1abc9c;
	&:hover {
		background-color: #fff;
		color: #1abc9c;
	}
}

.row {
	.welcome {
		padding: 80px 0px 40px; 
	}
}

/* header */

header { 
	background-color: #1abc9c;

	ul li {
		color: #fff;
		list-style-type: none;
		padding-top: 14px;
		margin-right: 14px;
	}

	.active {
		color: #2f2f2f;
	}

	a {
		color: #fff;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: #2f2f2f;
			text-decoration: none;
		}
	}
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 9px;
	font-weight: bold;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: solid 1px;
	color: #2f2f2f;
}

footer a {
	color: #2f2f2f;
}

footer a:hover {
	color: #1abc9c;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

/* sidebar */

aside {
	section.user_info {
		margin-top:20px;
	}

	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}

		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}

		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

/* mixins, variables, etc */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

/* forms */

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* Users Index */

.users {
	list-style: none;
	margin: 0;

	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

/* microposts */

.microposts {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}

	.user {
		margin-top: 5em;
		padding-top: 0;
	}

	.content {
		display: block;
		margin-left: 60px;
		img {
			display: block;
			margin-left: 60px;
		}
	}

	.timestamp {
		color: $gray-light;
		display: block;
		margin-left: 60px;
	}

	.gravatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;

	a { 
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: grey;
		&:first-child {
			padding-left:0;
			border: 0;
		 }
		&:hover {
			text-decoration: none;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

p2 {
	word-break: break-word;
	word-wrap: break-word;
}

.floating-card {
	display: in-line;
}

.bg {
	background-image: url("Background.jpg");
	background-size: cover; 
	background-position: 0% 0%;
	
	
	height: 600px;
	min-width: 1024px;
	
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.jumbotron {
	height: 600px;
	color: white;
	text-shadow: #444 0 1px 1px;
	background:transparent;
}

.header-bg {
	background-image: url("wood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	position: fixed;
	min-width: 1024px;
	width: 100%;

	height: 60px;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-fill: auto;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}
.pin:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform:  scale(1.25);
	-ms-transform:  scale(1.25);
	transform:  scale(1.25);
}
@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}