@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 20px;

	a {
		text-decoration: none;
		color: #b84d45;
		&:hover {
			color:#803530;
			text-decoration: underline;;
		}
	}
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.muted {
	color: #999999;
}

.inline {
	display: inline;
}

.btn {
	background-color: #b84d45;
	color: #fff;
	border-color: #b84d45;
	&:hover {
		background-color: #fff;
		color: #b84d45;
	}
}

.center {
	text-align: center;
}

.row {
	.welcome {
		padding: 80px 0px 40px;
	}
}

.container-fluid {
	padding: 0;
	width: 100%;
}

.container {
	padding-top: 40px;
}

.banner {

}


/* header */

header {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	opacity: 0.85;

	.navbar {
		padding-left: 20px;
		padding-right: 20px;
	}

	ul li {
		color: #fff;
		list-style-type: none;
		padding-top: 14px;
		padding-right: 14px;
	}

	.current {
		text-decoration: underline;
		color: #2f2f2f;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}

}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #2f2f2f;
	letter-spacing: 2px;
	padding-top: 15px;
	padding-left: 20px;
	font-weight: bold;
}

/* footer */

footer {
	text-align: center;
	padding: 25px 5px;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

footer ul {
	padding-left: 0px;
	li {
		display: inline;
		padding: 0px;
		margin: 0px;
	}
}

/* sidebar */

aside {
	section.user_info {
		margin-top:20px;
	}

	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}

		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}

		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

/* mixins, variables, etc */

$gray-medium-light: #eaeaea;
$gray-light: #d3d3d3;
$gray-lighter: #eee;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

/* forms */

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
