// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Users Index */

.users {
	list-style: none;
	margin: 0;

	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid #eee;
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;

	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid #eee;
		color: #555;
		&:first-child {
			padding-left:0;
			border: 0;
		 }
		&:hover {
			text-decoration: none;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}
