<footer class= "footer">
	<div class = "container">
		<p>Created by Marx Low and Goh Yi Rui of Team 1211</p>
		<p>Made with Ruby on Rails</p>
		<p>Orbital 2016</p>

		<ul>
			<li><%= link_to "About", about_path %></li>
			<li class="muted">·</li>
			<li><%= link_to "Contact Us", contact_path %></li>
		</ul>
	</div>
</footer>
